# Ignore SQLite database
db.sqlite3
*.sqlite3

# Ignore SQLite backups (just in case)
*.sqlite3-journal
*.sqlite3-wal
*.sqlite3-shm


# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environment
.env
*.env

# Virtual Environments
venv/
env/
ENV/

# Django files
*.log
*.pot
*.pyc
db.sqlite3
*.sqlite3
local_settings.py

# VSCode or IDE-specific
.vscode/
.idea/
*.swp
.DS_Store
